<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">

<dom-module id="add-calendar-view-element">
    <template>
        <style include="travlendar-styles"></style>

        <firebase-document id="document" app-name="travlendar" path="/events/[[user.uid]]/" data="{{newEvent}}">
        </firebase-document>

        <template-view>
            <span slot="outputPanel">
                <iron-input bind-value="{{newEvent.title}}">
                <input value="{{value::input}}">
                </iron-input>
                <iron-input bind-value="{{newEvent.location}}">
                    <input value2="{{value2::input}}">
                </iron-input>
                <iron-input bind-value="{{newEvent.from}}">
                    <input value3="{{value3::input}}">
                </iron-input>
                <iron-input bind-value="{{newEvent.at}}">
                    <input value4="{{value4::input}}">
                </iron-input>
                day:
                <iron-input bind-value="{{newEvent.day}}">
                    <input value5="{{value5::input}}">
                </iron-input>
            </span>

            <span slot="textPanel">
                Choose data and press save
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" on-tap="saveEvent">
                    <iron-icon icon="add" slot="item-icon"></iron-icon>Save New Event
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editCalendarView'">
                    <iron-icon icon="myicons:arrow-back" slot="item-icon"></iron-icon>Cancel
                </paper-icon-item>
            </span>
        </template-view>
    </template>

    <script>
    class AddCalendarViewElement extends ViewElement {
        static get is() { return 'add-calendar-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        saveEvent() {
            this.$.document.saveValue('/events/' + this.user.uid);
            //TODO empty input text
            this.$.document.reset().then(function() {
                window.location.href = '#editCalendarView';
            });
        }
    }
    customElements.define(AddCalendarViewElement.is, AddCalendarViewElement);
    </script>
</dom-module>