<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="paper-date-input.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input-place/paper-input-place.html" />
<link rel="import" href="../bower_components/paper-time-input/paper-time-input.html" />
<dom-module id="add-calendar-view-element">
    <template>
        <style include="travlendar-styles">
        #eventForm {
            max-width: 500px;
        }

        .times {
            padding-top: 5px;
            @apply --layout-flex;
            @apply --layout-horizontal;
            -webkit-justify-content: space-between;
            /* Safari */
            justify-content: space-between;
        }

        .formInput {
            padding: 10px;
        }
        </style>
        <firebase-document id="document" app-name="travlendar" path="/events/[[user.uid]]/" data="{{newEvent}}">
        </firebase-document>
        <firebase-query id="query" app-name="travlendar" path="/events/[[user.uid]]" data="{{events}}">
        </firebase-query>
        <firebase-query id="queryBreak" app-name="travlendar" path="/preferences/[[user.uid]]" data="{{prefBreak}}">
        </firebase-query>
        <firebase-query id="queryTravel" app-name="travlendar" path="/preferences/[[user.uid]]" data="{{prefTravel}}">
        </firebase-query>
        <template-view>
            <span slot="outputPanel">
                <iron-form id="eventForm" class="outputCenter">
                    <form method="get" action="/addEvent">

                        <paper-input class="formInput" label="Title" max-length="100" required auto-validate error-message="insert a correct title (max 100 chars)" value="{{newEvent.title}}"></paper-input>

                        <paper-input-place class="formInput" id="locationInput" required auto-validate pattern=".*[^ ].*"  value="{{val}}" hide-error place="{{place}}" api-key="[[mapsApiKey]]" label="Location">
                        </paper-input-place>
                        
                        <paper-date-input class="formInput" label="Date" type="date" required auto-validate error-message="insert a valid date" min="2017-01-01" value="{{eventDate}}"></paper-date-input>

                        <paper-input class="formInput" label="Date" type="date" required auto-validate error-message="insert a valid date" min="2017-01-01" value="{{eventDate}}"></paper-input>

                        <div class="times">
                            <paper-time-input class="formInput" label="Starting Time" required auto-validate hour="0" min="0" am-pm="PM" value="{{startTime}}"></paper-time-input>

                            <paper-time-input class="formInput" label="End Time" required auto-validate hour="0" min="0" am-pm="PM" value="{{endTime}}"></paper-time-input>
                        </div>
                    </form>
                </iron-form>
            </span>
            <span slot="textPanel">
                <span class="breadcrumbs">Home/Calendar/New</span> Choose the event details and then press save
            </span>
            <span slot="inputPanel">
                <paper-icon-item class="menu-item" on-tap="filterAndSortEvents">
                    <iron-icon icon="add" slot="item-icon"></iron-icon>Save New Event
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editCalendarView'">
                    <iron-icon icon="myicons:arrow-back" slot="item-icon"></iron-icon>Cancel
                </paper-icon-item>
            </span>
        </template-view>
    </template>
    <script>
    var currentEvents = [];
    var numberOfApiCalls = 0;
    var targetNumberOfApiCalls = 0;
    var prevToCurrDuration;
    var currToNextDuration;
    class AddCalendarViewElement extends Polymer.mixinBehaviors([Polymer.AppNetworkStatusBehavior], ViewElement) {
        static get is() { return 'add-calendar-view-element'; }
        static get properties() {
            return {
                mapsApiKey: {
                    type: String,
                    value: "AIzaSyAoZU1vQtj2p_QUMsE1J5kWURi0G7U8Txw",
                    readOnly: true
                },
                val: {
                    type: Object,
                    notify: true,
                    observer: '_locationChanged'
                },
                startTime: {
                    type: Object,
                    notify: true,
                    value: "0:0 PM",
                    observer: '_startTimeChanged'
                },
                endTime: {
                    type: Object,
                    notify: true,
                    value: "0:0 PM",
                    observer: '_endTimeChanged'
                },
                eventDate: {
                    type: Object,
                    notify: true,
                    observer: '_dateChanged'
                }
            }
        }
        static get observers() {
            return [
                '_locationChanged(val)'
            ]
        }
        _locationChanged(val) {
            this.newEvent.location = val.search;
        }
        _startTimeChanged(time) {
            if (time != null) {
                var s = time.split(':');
                var s2 = s[1].split(' ');
                var n = parseInt(s[0]) * 60 + parseInt(s2[0]);
                if (s2[1] == "PM") { n += 720; }
                this.newEvent.from = n;
            }
        }
        _endTimeChanged(time) {
            if (time != null) {
                var s = time.split(':');
                var s2 = s[1].split(' ');
                var n = parseInt(s[0]) * 60 + parseInt(s2[0]);
                if (s2[1] == "PM") { n += 720; }
                this.newEvent.to = n;
            }
        }
        _dateChanged(date) {
            this.newEvent.date = Date.parse(date);
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
            window.addEventListener('feasibility-time-checked', (e) => this.checkEvent(e.detail.feasible, e.detail.firstCall));
            window.addEventListener('duration-time-computed', () => this.checkBreakPreferences());
        }
        filterAndSortEvents() {
            if (!this.online) {
                alert("You are offline. Read-only operations allowed!");
                return;
            }

            if (this.$.eventForm.validate() && this.newEvent.location != null) {
                currentEvents = [];
                var newEvent = this.$.document.data;
                var events = this.$.query.data;
                var currentDay = new Date(parseInt(newEvent.date));
                var today = new Date();
                var test = false; // true if testing it
                if (!test && (currentDay.getTime() + newEvent.from * 60000 < today.getTime() || newEvent.from > newEvent.to)) {
                    alert("inserted incorrect data, please check date or time inserted");
                } else {
                    for (var i = 0; i < events.length; i++) { //filter for the current day of the event added
                        var d = new Date(parseInt(events[i].date));
                        if (d.getDate() == currentDay.getDate() && d.getMonth() == currentDay.getMonth() && d.getFullYear() == currentDay.getFullYear()) {
                            currentEvents.push(events[i]);
                        }
                    }
                    today = today.getTime() - today.getHours() * 3600 * 1000 - today.getMinutes() * 60 * 1000 - today.getSeconds() * 1000 - today.getMilliseconds() + 3600 * 1000; // today = current UCT Day at 00:00  in milliseconds
                    currentEvents.push(newEvent);
                    currentEvents.push({
                        date: today,
                        from: 0,
                        to: 0,
                        location: this.$.queryTravel.data[1].home,
                        title: "fromHome"
                    });
                    currentEvents.push({
                        date: today,
                        from: 1440,
                        to: 1440,
                        location: this.$.queryTravel.data[1].home,
                        title: "toHome"
                    });
                    currentEvents.sort(function(a, b) { return a.from - b.from }); //sort it.
                    this.checkEvent(true, true);
                }
            }
        }

        checkEvent(feasible, firstCall) {
            var position = currentEvents.indexOf(this.$.document.data);
            var prev = currentEvents[position - 1]
            var curr = currentEvents[position];
            var next = currentEvents[position + 1];
            if (firstCall) {
                targetNumberOfApiCalls = 0; //reset values;
                numberOfApiCalls = 0;
                if ((parseInt(prev.to) < parseInt(curr.from)) && (parseInt(curr.to) < parseInt(next.from))) {
                    targetNumberOfApiCalls = 2;
                    this.checkTimeFeasibility(prev, curr);
                } else {
                    feasible = false;
                    alert("events overlapping");
                }
            } else { //TODO check also with driving options inserting a swithc case like in compute travel and you have also to modify the brak time preferences
                if (numberOfApiCalls < targetNumberOfApiCalls) { 
                    this.checkTimeFeasibility(curr, next);
                } else { //i'm ready to check the feasibility 
                    if (feasible) {
                        numberOfApiCalls = 0;
                        this.checkBreakPreferences();
                    }
                }
            }
        }
        checkBreakPreferences() {
            var position = currentEvents.indexOf(this.$.document.data);
            var prev = currentEvents[position - 1]
            var curr = currentEvents[position];
            var next = currentEvents[position + 1];

            switch (numberOfApiCalls) {
                case 0:
                    this.computeDuration(prev, curr);
                    break;

                case 1:
                    this.computeDuration(next, curr);
                    break;

                case 2:
                    var data = this.$.queryBreak.data;
                    var lowerBound = parseInt(this.$.queryBreak.data[0].lowerBound);
                    var upperBound = parseInt(this.$.queryBreak.data[0].upperBound);
                    var minTime = parseInt(this.$.queryBreak.data[0].minTime);
                    var prevTo = parseInt(prev.to);
                    var prevFrom = parseInt(prev.from);
                    var currTo = parseInt(curr.to);
                    var currFrom = parseInt(curr.from);
                    var nextTo = parseInt(next.to);
                    var nextFrom = parseInt(next.from);
                    if (currTo + currToNextDuration < lowerBound || currFrom - prevToCurrDuration > upperBound) {
                        //new event is not in break interval;
                        this.saveEvent();
                    } else {
                        if ((currFrom - (prevTo + prevToCurrDuration)) > minTime && (currFrom - lowerBound) > minTime) {
                            //check prev or lower bound feasibility
                            this.saveEvent();
                        } else {
                            //check next or upper bound feasibility 
                            if ((nextFrom - (currTo + currToNextDuration)) > minTime && (upperBound - currTo) > minTime) {
                                this.saveEvent();
                            } else {
                                alert("event not feasible with the break time preferences");
                            }
                        }
                    }
                    break;

            }
        }
        checkTimeFeasibility(start, end) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: start.location,
                destination: end.location,
                travelMode: 'TRANSIT',
                transitOptions: {
                    departureTime: new Date(parseInt(start.date) + parseInt(start.to) * 60 * 1000 - 3600 * 1000)
                }
            };
            directionsService.route(request, function(response, status) {
                numberOfApiCalls++;
                if (status == 'OK') { // we have always one route and one leg in this case
                    var duration = response.routes[0].legs[0].duration.value / 60;
                    if (parseInt(start.to) + duration < parseInt(end.from)) {
                        window.dispatchEvent(new CustomEvent('feasibility-time-checked', { detail: { feasible: true, firstCall: false } }));
                    } else {
                        alert("event NOT feasible");
                    }
                } else {
                    alert(status);
                }
            });
        }

        computeDuration(start, end) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: start.location,
                destination: end.location,
                travelMode: 'TRANSIT',
                transitOptions: {
                    departureTime: new Date(parseInt(start.date) + parseInt(start.to) * 60 * 1000 - 3600 * 1000)
                }
            };
            directionsService.route(request, function(response, status) {
                numberOfApiCalls++;
                if (status == 'OK') { // we have always one route and one leg in this case
                    if (numberOfApiCalls == 1) {
                        prevToCurrDuration = response.routes[0].legs[0].duration.value / 60;
                    } else {
                        currToNextDuration = response.routes[0].legs[0].duration.value / 60;
                    }
                    window.dispatchEvent(new CustomEvent('duration-time-computed'));
                } else {
                    alert(status);
                }
            });
        }
        saveEvent() {
            this.$.document.saveValue('/events/' + this.user.uid);
            //TODO empty input text
            this.$.document.reset().then(function() {
                window.location.href = '#editCalendarView';
            });
        }
    }
    customElements.define(AddCalendarViewElement.is, AddCalendarViewElement);
    </script>
</dom-module>