<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="travel-proposal-element.html">
<dom-module id="compute-travel-view-element">
    <template>
        <style include="travlendar-styles"></style>
        <firebase-query id="query" app-name="travlendar" path="/currentProposal/[[user.uid]]" data="{{proposal}}">
        </firebase-query>
        <firebase-query id="queryEvents" app-name="travlendar" path="/events/[[user.uid]]" data="{{events}}">
        </firebase-query>
        <firebase-query id="queryPrefObject" app-name="travlendar" path="/preferences/[[user.uid]]" data="{{pref}}">
        </firebase-query>
        <firebase-document id="document" app-name="travlendar" path="/currentProposal/[[user.uid]]" data="{{prop}}">
        </firebase-document>
        <template-view>
            <span slot="outputPanel">
                <travel-proposal-element current-proposal="[[proposal]]"></travel-proposal-element>
            </span>
            <span slot="textPanel">
                <span class="breadcrumbs">Home/ComputeTravelProposal</span> Here is you're current day travel proposal computed for you. You can compute another one if you prefer.
            </span>
            <span slot="inputPanel">
                <paper-icon-item class="menu-item" on-tap= "filterAndSortEvents">
                    <iron-icon icon="card-travel" slot="item-icon"></iron-icon>Compute Different Travel
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#homeView'">
                    <iron-icon icon="arrow-back" slot="item-icon"></iron-icon>Go Back
                </paper-icon-item>
            </span>
        </template-view>
    </template>
    <script>
    var currentEvents = [];
    var travelPreferencesObject;
    var numberOfApiCalls = 0;
    var currentTravelProposal = [];
    class ComputeTravelViewElement extends ViewElement {
        static get is() { return 'compute-travel-view-element'; }
        static get properties() {
            return {
                prop: {
                    type: Object
                }
            }
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
            window.addEventListener('api-return', (e) => this.computeTravelPiece(e.detail.firstCall, e.detail.lastCall));
            window.addEventListener('finished', (e) => this.saveProposal());
        }

        filterAndSortEvents() {
            currentEvents = [];
            this.prop = [];
            var events = this.$.queryEvents.data;
            var today = new Date();
            for (var i = 0; i < events.length; i++) { //filter for the current day of the event added
                var d = new Date(parseInt(events[i].date));
                if (d.getDate() == today.getDate()) {
                    var event = {
                        date: events[i].date,
                        from: events[i].from,
                        to: events[i].to,
                        location: events[i].location,
                        title: events[i].title
                    }
                    currentEvents.push(event);
                }
            }
            currentEvents.sort(function(a, b) { return a.from - b.from }); //sort it.

            if (currentEvents.length == 0) {
                alert("no event today you are free");
            } else {
                this.queryDb();
            }
        }

        queryDb() {
            travelPreferencesObject = this.$.queryPrefObject.data[1];
            numberOfApiCalls = 0;
            this.computeTravelPiece(true, false);
        }

        computeTravelPiece(firstCall, lastCall) {
            var destination;
            var start;
            var end;
            var modes = [];
            var apiCalled = false;
            if (travelPreferencesObject.allow_bus) {
                modes.push('BUS');
            }
            if (travelPreferencesObject.allow_subway) {
                modes.push('SUBWAY');
            }
            if (travelPreferencesObject.allow_train) {
                modes.push('TRAIN');
            }
            if (travelPreferencesObject.allow_tram) {
                modes.push('TRAM');
            }
            var avoidOptions = [travelPreferencesObject.avoidHighways, travelPreferencesObject.avoidTolls];
            if (firstCall) { //current location is home
                start = {
                    date: currentEvents[0].date,
                    location: travelPreferencesObject.home,
                    from: 0,
                    to: 0
                }
                end = currentEvents[0];
            } else {
                if (lastCall) {
                    end = {
                        date: currentEvents[0].date,
                        location: travelPreferencesObject.home,
                        from: 1440,
                        to: 1440
                    }
                } else {
                    end = currentEvents[1];
                }
                start = currentEvents[0];
            }
            var transitOptions = {
                arrivalTime: new Date(end.date + end.from * 60 * 1000 - 3600 * 1000),
                modes: modes
            };

            //TODO: weather forecast api calls to eventually disable cycle and walking
            if (travelPreferencesObject.reduce_carbon_footprint) {
                //compute in this order (walking, bike, public transport and drive)
                switch (numberOfApiCalls) {
                    case 0:
                        if (!travelPreferencesObject.walking_disabled) {
                            apiCalled = true;
                            this.apiCall(start, end, 'WALKING', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                    case 1:
                        if (!travelPreferencesObject.bike_disabled && (travelPreferencesObject.own_bike || travelPreferencesObject.allow_bike_sharing)) {
                            apiCalled = true;
                            this.apiCall(start, end, 'WALKING', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                    case 2:
                        if (!travelPreferencesObject.public_transport_disabled) {
                            apiCalled = true;
                            this.apiCall(start, end, 'TRANSIT', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                    case 3:
                        if (!travelPreferencesObject.car_disabled && (travelPreferencesObject.own_car || travelPreferencesObject.allow_car_sharing)) {
                            apiCalled = true;
                            this.apiCall(start, end, 'DRIVING', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;

                }
            } else {
                switch (numberOfApiCalls) {
                    //compute in this order (drive, public transport, walkign, bike)
                    case 0:
                        if (!travelPreferencesObject.car_disabled && (travelPreferencesObject.own_car || travelPreferencesObject.allow_car_sharing)) {
                            apiCalled = true;
                            this.apiCall(start, end, 'DRIVING', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                    case 1:
                        if (!travelPreferencesObject.public_transport_disabled) {
                            apiCalled = true;
                            this.apiCall(start, end, 'TRANSIT', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                    case 2:
                        if (!travelPreferencesObject.bike_disabled && (travelPreferencesObject.own_bike || travelPreferencesObject.allow_bike_sharing)) {
                            apiCalled = true;
                            this.apiCall(start, end, 'WALKING', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                    case 3:
                        if (!travelPreferencesObject.walking_disabled) {
                            apiCalled = true;
                            this.apiCall(start, end, 'WALKING', avoidOptions, transitOptions);
                        } else {
                            numberOfApiCalls++;
                        }
                        break;
                }
            }
            if (numberOfApiCalls == 4) {
                alert("no feasible schedule find with this preferences");
            }
            if (currentEvents.length == 0) {
                this.saveProposal();
            }
            if (!apiCalled) {
                this.computeTravelPiece(firstCall, lastCall);
            }
        }

        apiCall(_origin, _destination, _travelMode, _avoidOptions, _transitOptions) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: _origin.location,
                destination: _destination.location,
                travelMode: _travelMode,
                transitOptions: _transitOptions,
                avoidHighways: _avoidOptions[0],
                avoidTolls: _avoidOptions[1]
            };
            directionsService.route(request, function(response, status) {
                numberOfApiCalls++;
                if (status == 'OK') { // we have always one route and one leg in this case
                    var duration = response.routes[0].legs[0].duration.value / 60;
                    if (parseInt(_origin.to) + duration < parseInt(_destination.from)) {
                        //event feasible construct a travel piece
                        var atTemp;
                        if (_travelMode == 'WALKING' || _travelMode == 'DRIVING') {
                            atTemp = _destination.from - duration; //TODO if neative you have to start the day before 
                        } else {
                            if (_travelMode == 'BICYCLING') {
                                atTemp = _destination.from - duration / 2;
                            } else {
                                var temp = response.routes[0].legs[0].departure_time.text;
                                var tempArray = temp.split(":");
                                atTemp = parseInt(tempArray[0]) * 60 + parseInt(tempArray[1]);
                            }
                        }
                        var travelPiece = {
                            by: _travelMode,
                            from: _origin.location,
                            at: atTemp,
                            isTravelProposal: true
                        }
                        currentTravelProposal.push(travelPiece);
                        if (_destination.location != travelPreferencesObject.home) { // do not add the event home
                            currentTravelProposal.push(_destination);
                        }
                        //being feasible advance to the next event 
                        numberOfApiCalls = 0;
                        if (_origin.location != travelPreferencesObject.home) { //do not remove if it's the first call
                            currentEvents.splice(0, 1); //remove the first event of the array, because already computed.
                        }
                        console.log("travel Piece computed");
                        if (currentEvents == 0) { // if i've finished saveValue
                            window.dispatchEvent(new CustomEvent('finished'));
                        } else {
                            window.dispatchEvent(new CustomEvent('api-return', { detail: { firstCall: false, lastCall: currentEvents.length == 1 } }));
                        }
                    } else {
                        window.dispatchEvent(new CustomEvent('api-return', { detail: { firstCall: _origin.location == travelPreferencesObject.home, lastCall: _destination.location == travelPreferencesObject.home } }));
                    }

                } else {
                    if (status == 'ZERO_RESULT') {
                        window.dispatchEvent(new CustomEvent('api-return', { detail: { firstCall: _origin.location == travelPreferencesObject.home, lastCall: _destination.location == travelPreferencesObject.home } }));
                    } else {
                        alert(status);
                    }
                }
            });
        }

        saveProposal() {
            this.prop = currentTravelProposal;
            currentTravelProposal = [];
        }
    }

    customElements.define(ComputeTravelViewElement.is, ComputeTravelViewElement);
    </script>
</dom-module>