<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="travel-proposal-element.html">

<dom-module id="compute-travel-view-element">
    <template>
        <style include="travlendar-styles"></style>
        <firebase-query id="query" app-name="travlendar" path="/currentProposal/[[user.uid]]" data="{{proposal}}">
        </firebase-query>

        <template-view>
            <span slot="outputPanel">
                <travel-proposal-element current-proposal="[[proposal]]"></travel-proposal-element>
                proposal here
            </span>

            <span slot="textPanel">
                Here is you're current day travel proposal computed for you
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" onclick="window.location.href = '#computeTravelView'">
                    <iron-icon icon="card-travel" slot="item-icon"></iron-icon>Compute Different Travel
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#homeView'">
                    <iron-icon icon="arrow-back" slot="item-icon"></iron-icon>Go Back
                </paper-icon-item>
            </span>

        </template-view>
    </template>

    <script>
    class ComputeTravelViewElement extends ViewElement {
        static get is() { return 'compute-travel-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
    }
    customElements.define(ComputeTravelViewElement.is, ComputeTravelViewElement);
    </script>
</dom-module>