<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="event-element.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<dom-module id="delete-calendar-view-element">
    <template>
        <style include="travlendar-styles">
        event-element {
            cursor: pointer;
        }
        </style>

        <firebase-query id="query" app-name="travlendar" path="/events/[[user.uid]]" data="{{events}}" order-by-child="date">
        </firebase-query>

        <firebase-document id="document" app-name="travlendar" path="/events/[[user.uid]]/[[selectedItems.$key]]">
        </firebase-document>

        <template-view>
            <span slot="outputPanel" class="outputCenter">
                <iron-list id="eventsList" items="[[events]]" mutable-data selection-enabled selected-items="{{selectedItems}}">
                    <template>
                        <div>
                            <event-element title="[[item.title]]" location="[[item.location]]" date="[[item.date]]" from="[[item.from]]" to="[[item.to]]" select="[[selected]]" class="item"></event-element>
                        </div>
                    </template>
                </iron-list>
            </span>

            <span slot="textPanel">
                <span class="breadcrumbs">Home/Calendar/Delete</span> Tap on an event and then press delete. Events are ordered by date.
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" on-tap="deleteEvent">
                    <iron-icon icon="delete" slot="item-icon"></iron-icon>Delete Event
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editCalendarView'">
                    <iron-icon icon="arrow-back" slot="item-icon"></iron-icon>Go Back
                </paper-icon-item>
            </span>

        </template-view>

    </template>

    <script>
    class DeleteCalendarViewElement extends ViewElement {
        static get is() { return 'delete-calendar-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        deleteEvent() {
            console.log(this.$.query.data);
            console.log(this.events);
            if (this.selectedItems != null) {
                this.$.document.destroy();
                this.$.document.reset();
                this.$.query.reset();
                this.$.eventsList.notifyResize();
                //location.reload();
                //window.location.href = '#editCalendarView'
            } else {
                alert("no event selected");
            }
            // delete this.$.document.data[this.selectedItems.$key];
            // for (var i = 0; i < this.events.length; i++) {
            //     if (this.events[i].$key == this.selectedItems.$key) {
            //         delete this.events[i];
            //     }
            // }

            //console.log(this.$.document.data);
            // if (this.selectedItems != null) {
            //     this.$.document.destroy();
            //     this.$.document.reset().then(function() {
            //         window.location.href = '#editCalendarView';
            //     });
            // }
            // delete this.deletingEvents[this.selectedItems.$key]; // console.log(this.events); // console.log(this.events);
            // this.$.document.saveValue('/events', this.user.uid);
            // this.$.document.reset();
            // console.log(this.events);
        }
        // _eventsChanged(events) {
        //     var arr = new Array;
        //     var result = Object.keys(events).map(function(key) {
        //         arr.push(events[key]);
        //         arr[arr.length - 1].id = key;
        //         return [events[key]];
        //     });
        //     return arr;
        // }
    }
    customElements.define(DeleteCalendarViewElement.is, DeleteCalendarViewElement);
    </script>
</dom-module>