<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="event-element.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<dom-module id="delete-calendar-view-element">
    <template>
        <style include="travlendar-styles">
        .item {
            cursor: pointer;
        }

        .item:focus,
        .item.selected {
            outline: 0;
        }
        </style>

        <firebase-query id="query" app-name="travlendar" path="/events/[[user.uid]]" data="{{events}}" order-by-child="date">
        </firebase-query>

        <firebase-document id="document" app-name="travlendar" path="/events/[[user.uid]]/[[selectedItems.$key]]">
        </firebase-document>

        <template-view>
            <span slot="outputPanel" class="outputCenter">
                <iron-list items="[[events]]" selection-enabled selected-items="{{selectedItems}}">
                    <template>
                        <event-element title="[[item.title]]" location="[[item.location]]" date="[[item.date]]" from="[[item.from]]" to="[[item.to]]" select="[[selected]]" class="item">
                    </template>
                </iron-list>
            </span>

            <span slot="textPanel">
                <span class="breadcrumbs">Home/Calendar/Delete</span> Tap on an event and then press delete. Events are ordered by date.
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" on-tap="deleteEvent">
                    <iron-icon icon="delete" slot="item-icon"></iron-icon>Delete Event
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editCalendarView'">
                    <iron-icon icon="arrow-back" slot="item-icon"></iron-icon>Go Back
                </paper-icon-item>
            </span>

        </template-view>

    </template>

    <script>
    class DeleteCalendarViewElement extends ViewElement {
        static get is() { return 'delete-calendar-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        deleteEvent() {
            if (this.selectedItems != null) {
                this.$.document.destroy();
                window.location.href = '#editCalendarView'
            } else {
                alert("no event selected");
            }
        }
    }
    customElements.define(DeleteCalendarViewElement.is, DeleteCalendarViewElement);
    </script>
</dom-module>