<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="event-element.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<dom-module id="delete-calendar-view-element">
    <template>
        <style include="travlendar-styles">
        .item {
            cursor: pointer;
            border-bottom: 1px solid #DDD;
        }

        .item:focus,
        .item.selected {
            outline: 0;
            background-color: red;
        }

        .no-selection {
            color: #999;
            margin-left: 10px;
            line-height: 50px;
        }
        </style>

        <firebase-query id="query" app-name="travlendar" path="/events/[[user.uid]]" data="{{events}}">
        </firebase-query>

        <firebase-document id="document" app-name="travlendar" path="/events/[[user.uid]]/[[selectedItems.$key]]">
        </firebase-document>

        <!--Output Panel-->
        <div class="outputPanel">
            <iron-list items="[[events]]" selection-enabled selected-items="{{selectedItems}}">
                <template>
                	<event-element title="[[item.title]]" class$="[[computedClass(selected)]]"></event-element>                  
                </template>
            </iron-list>
        </div>

        <!--Input Panel-->
        <div class="inputPanel">
            <!--Text Panel-->
            <div class="textPanel">
                Edit your calenda events here
                <br> ciao grazie
            </div>
            <paper-menu>
                <paper-item on-click="deleteEvent">Delete Event</paper-item>
                <a href="#editCalendarView">
                    <paper-item>Cancel</paper-item>
                </a>
            </paper-menu>
        </div>
    </template>

    <script>
    class DeleteCalendarViewElement extends ViewElement {
        static get is() { return 'delete-calendar-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        deleteEvent() {
            this.$.document.destroy();
            //TODO empty input text
            this.$.document.reset().then(function() {
                window.location.href = '/#editCalendarView';
            });
        }
        computedClass(isSelected) {
        	console.log("property isSelected is now : " + isSelected);
            var classes = 'item';
            if (isSelected) {
              classes += ' selected';
            }
            return classes;
          }
    }
    customElements.define(DeleteCalendarViewElement.is, DeleteCalendarViewElement);
    </script>
</dom-module>