<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">

<dom-module id="edit-preferences-view-element">
    <template>
        <style include="travlendar-styles"></style>

        <firebase-query id="query" app-name="travlendar" path="/preferences/[[user.uid]]/break" data="{{breakPref}}">
        </firebase-query>
        <firebase-query id="query2" app-name="travlendar" path="/preferences/[[user.uid]]/travel" data="{{travelPref}}">
        </firebase-query>

        <template-view>
            <span slot="outputPanel">
                <h3>Break Time Prefs</h3>
                <ul>
                    <template is="dom-repeat" items="{{breakPref}}">
                        <li>[[item.$key]]: [[item.$val]]</li>
                    </template>
                </ul>
                <h3>Travel Prefs</h3>
                <ul>
                    <template is="dom-repeat" items="{{travelPref}}">
                        <li>[[item.$key]]: [[item.$val]]</li>
                    </template>
                </ul>
            </span>

            <span slot="textPanel">
                Here you can edit your Preferences
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editPreferencesView/editBreakTimePrefView'">
                    <iron-icon icon="myicons:restaurant-menu" slot="item-icon"></iron-icon>Edit Break Time Preference
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editPreferencesView/editTravelPrefView'">
                    <iron-icon icon="myicons:directions-bus" slot="item-icon"></iron-icon>Edit Travel Preference
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#homeView'">
                    <iron-icon icon="icons:arrow-back" slot="item-icon"></iron-icon>Go Back
                </paper-icon-item>
            </span>
        </template-view>
    </template>

    <script>
    class EditPreferencesViewElement extends ViewElement {
        static get is() { return 'edit-preferences-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        clickMe() {
            console.log(this.breakPref);
        }
    }
    customElements.define(EditPreferencesViewElement.is, EditPreferencesViewElement);
    </script>
</dom-module>