<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="edit-travelpref-view-element">
    <template>
        <style include="travlendar-styles"></style>

        <firebase-document id="document" app-name="travlendar" path="/preferences/[[user.uid]]/travel" data="{{travelPref}}">
        </firebase-document>

        <template-view>
            <span slot="outputPanel">
                <p>
                Own Car: 
                <paper-toggle-button checked="{{travelPref.own_car}}"></paper-toggle-button>
                </p>
                <p>
                    Allow Bike: 
                    <paper-toggle-button checked="{{travelPref.allow_bike}}"></paper-toggle-button>
                </p>
            </span>

            <span slot="textPanel">
                Here you can edit your Travel Preferences. Everything you change gets immediately saved! So no need to save!
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editPreferencesView/editBreakTimePrefView'">
                    <iron-icon icon="myicons:restaurant-menu" slot="item-icon"></iron-icon>Edit Break Time Preferences
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editPreferencesView'">
                    <iron-icon icon="myicons:arrow-back" slot="item-icon"></iron-icon>Go Back
                </paper-icon-item>
            </span>
        </template-view>
    </template>

    <script>
    class EditTravelPrefViewElement extends ViewElement {
        static get is() { return 'edit-travelpref-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
    }
    customElements.define(EditTravelPrefViewElement.is, EditTravelPrefViewElement);
    </script>
</dom-module>