<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<dom-module id="event-element">
    <template>
        <paper-card heading=[[title]]>
            <div class="card-content"> Location: [[location]] </div>
            <div class="card-content"> From: [[from]] - To: [[to]] </div>
        </paper-card>
    </template>
    <script>
    class eventElement extends Polymer.Element {
        static get is() { return 'event-element'; }
        static get properties() {
            return {
                title: {
                    type: String,
                    notify: true,
                    value: 'undefined'
                },

                location: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true,
                    value: 'undefined'
                },

                from: {
                    type: String,
                    notify: true,
                    value: 'undefined'
                },

                to: {
                    type: String,
                    notify: true,
                    value: 'undefined'
                }
            }

        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
            console.log('I m an event element');
        }
    }
    customElements.define('event-element', eventElement);
    </script>
</dom-module>