<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<dom-module id="event-element">
    <template>
        <paper-card heading=[[title]]>
            <div class="card-content"> Location: [[location]] </div>
            <div class="card-content"> Day: [[dayInString]] </div>
            <div class="card-content"> From: [[fromInString]] - To: [[toInString]] </div>
        </paper-card>
    </template>
    <script>
    class eventElement extends Polymer.Element {
        static get is() { return 'event-element'; }
        static get properties() {
            return {
                title: {
                    type: String,
                    value: 'undefined'
                },

                location: {
                    type: String,
                    value: 'undefined'
                },

                dayInString: {
                    type: String,
                    computed: "dayToString(date)"
                },

                date: {
                    type: Number,
                    value: 100000
                },

                fromInString: {
                    type: String,
                    computed: "toHour(from)"
                },

                from: {
                    type: Number,
                    value: 'undefined'
                },

                toInString: {
                    type: String,
                    computed: "toHour(to)"
                },

                to: {
                    type: Number,
                    value: 'undefined'
                }
            }

        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
            console.log('I m an event element');
        }

        dayToString(day) {
            var d = new Date(parseInt(day));
            return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
        }

        toMinutes(hours) {
            return hours * 60;
        }

        toHour(m) {

            var minutes = m % 60;
            var hours = ((m - minutes) / 60);
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            return hours + ":" + minutes + " " + ampm;
        }

    }
    customElements.define('event-element', eventElement);
    </script>
</dom-module>