<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">

<dom-module id="home-view-element">
    <template>
        <style include="travlendar-styles"></style>

        <!--Output Panel-->
        <div class="outputPanel">
            <event-element id="event1" title="Meeting with mbare" location="polimi" from="9:30" to="10:30">
            </event-element>
            <travel-piece-element by="Car" from="via caduti in missione, 19" at="10:45"></travel-piece-element>
            <event-element id="event2" title="Football match" location="Giuriati" from="11:00" to="12:00">
            </event-element>
        </div>


        <!--Input Panel-->
        <div class="inputPanel">
        	<!--Text Panel-->
            <div class="textPanel">
                text panel here ahah
                <br>
                ciao grazie
            </div>
            <paper-menu>
                <a href="#ShowTravelView">
                    <paper-item>Show Travel Proposal</paper-item>
                </a>
                <a href="#bar">
                    <paper-item>Compute Travel</paper-item>
                </a>
                <a href="#editCalendarView">
                    <paper-item>Edit Calendar</paper-item>
                </a>
                <a href="#bb">
                    <paper-item>Edit Preferences</paper-item>
                </a>
            </paper-menu>
        </div>
    </template>

    <script>
    class HomeViewElement extends ViewElement {
        static get is() { return 'home-view-element'; }
        static get properties() {}
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
    }
    customElements.define(HomeViewElement.is, HomeViewElement);
    </script>
</dom-module>