<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">

<dom-module id="home-view-element">
    <template>
        <style include="travlendar-styles">
        .fixedWidth {
            max-width: 600px;
            margin: 0 auto;
        }
        </style>

        <firebase-query id="query" app-name="travlendar" path="/events/[[user.uid]]" data="{{events}}" order-by-child="date">
        </firebase-query>

        <template-view>
            <span slot="outputPanel">
                <div class="fixedWidth">
                <template is="dom-repeat" items="[[events]]">
                    <template is="dom-if" if="[[isToday(item.date)]]">
                        <event-element title="[[item.title]]" location="[[item.location]]" date="[[item.date]]" from="[[item.from]]" to="[[item.to]]" select="[[selected]]">
                        </event-element>
                    </template>
                </template>
                </div>
            </span>

            <span slot="textPanel">
                <span class="breadcrumbs">Home</span> Welcome back <i>[[user.displayName]]</i>! It’s [[currentDate]] and above you can find your events of the day!
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" onclick="window.location.href = '#showTravelView'">
                    <iron-icon icon="visibility" slot="item-icon"></iron-icon>Show Travel Proposal
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#computeTravelView'">
                    <iron-icon icon="card-travel" slot="item-icon"></iron-icon>Compute Travel
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editCalendarView'">
                    <iron-icon icon="today" slot="item-icon"></iron-icon>Edit Calendar
                </paper-icon-item>
                <paper-icon-item class="menu-item" onclick="window.location.href = '#editPreferencesView'">
                    <iron-icon icon="settings" slot="item-icon"></iron-icon>Edit Preferences
                </paper-icon-item>
            </span>

        </template-view>
    </template>

    <script>
    class HomeViewElement extends ViewElement {
        static get is() { return 'home-view-element'; }
        static get properties() {
            return {
                currentDate: {
                    type: String,
                    computed: 'getCurrentDay()'
                }
            }
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        getCurrentDay() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + yyyy;
            return today;
        }
        isToday(millis) {
            var ret = false;
            var now = new Date(),
                todayMidnight = new Date(
                    now.getFullYear(),
                    now.getMonth(),
                    now.getDate() + 1,
                    0, 0, 0);
            if (now.getTime() < millis && millis < todayMidnight.getTime()) {
                ret = true;
            }
            return ret;
        }
    }
    customElements.define(HomeViewElement.is, HomeViewElement);
    </script>
</dom-module>