<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="myicons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<dom-module id="template-view">
    <template>
        <style>
         :host {
            height: 100%;
        }

        section {
            width: 100%;
            height: 100%;
            @apply --layout-vertical;
            font-family: 'Roboto', 'Noto', sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        section paper-dialog-scrollable {
            @apply --layout-flex;
            background-color: var(--paper-indigo-50);
            @apply --layout-flex;
            @apply --layout-horizontal;
            -webkit-justify-content: space-between;
            /* Safari */
            justify-content: space-between;
        }

        paper-dialog-scrollable {
            --paper-dialog-scrollable: {
                padding: 5px 15px 5px 5px;
            };
        }

        .textPanel {
            background-color: var(--paper-light-blue-50);
            padding: 5px;
        }

        .inputPanel {
            width: 100%;
            background-color: var(--paper-blue-500);
        }
        </style>

        <section>
            <paper-dialog-scrollable>
                <slot name="outputPanel"></slot>
            </paper-dialog-scrollable>

            <!--Input Panel-->
            <div class="inputPanel">
                <!--Text Panel-->
                <div class="textPanel">
                    <slot name="textPanel"></slot>
                    <span hidden$="[[online]]"> <br>Hey! You're offline, but still any read only operation is allowed!</span>
                </div>
                <div class="input-menu">
                    <slot name="inputPanel"></slot>
                </div>
            </div>
        </section>

    </template>

    <script>
    class TemplateView extends Polymer.mixinBehaviors([Polymer.AppNetworkStatusBehavior], Polymer.Element) {
        static get is() { return 'template-view'; }
        static get properties() {
            
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
    }
    customElements.define("template-view", TemplateView);
    </script>
</dom-module>