<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<dom-module id="travel-piece-element">
    <template>
        <style>
         :host {
            display: flex;
        }

        paper-card {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
            margin: 5px;
            width: 100%;
            background-color: var(--paper-amber-300);
        }

        .card-content {
            word-wrap: break-word;
        }

        .header iron-icon {
            padding-bottom: 0.1em;
        }

        .light-font {
            color: var(--paper-grey-600);
        }

        .card-row {
            padding-top: 0.2em;
        }

        .higher-padding {
            padding-top: 0.6em;
        }

        </style>

        <paper-card>
            <div class="card-content">
                <div class="header">
                    <iron-icon icon="myicons:[[capitalizeFirstLetter(by)]]"></iron-icon>
                    Go [[capitalizeFirstLetter(by)]]
                </div>
                <div class="card-row light-font">
                    Leave at [[toHour(at)]]
                </div>
                <div class="card-row">
                    <span id="locationText">From [[shortenLocation(from)]]</span>
                </div>
            </div>
        </paper-card>
    </template>
    <script>
    class travelPieceElement extends Polymer.Element {
        static get is() { return 'travel-piece-element'; }
        static get properties() {
            return {
                by: {
                    type: String,
                    value: 'undefined'
                },
                from: {
                    type: String,
                    value: 'undefined'
                },
                at: {
                    type: Number,
                    value: 'undefined'
                }
            }
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        toHour(m) {
            var minutes = m % 60;
            var hours = ((m - minutes) / 60);
            var ampm = hours >= 12 ? 'pm' : 'am';
            minutes = minutes - minutes % 1;
            hours = hours % 12;
            if (ampm == "pm") {
                hours = hours ? hours : 12;
            }
            minutes = minutes < 10 ? '0' + minutes : minutes;
            hours = hours < 10 ? '0' + hours : hours;
            return hours + ":" + minutes + " " + ampm;
        }
        shortenLocation(location) {
            if (location != null && !this.hidden) {
                var s = location.split(',');
                var ret = location;
                if (s.length > 1) {
                    ret = s[0] + ", " + s[1];
                }
                return ret;
            }
        }
        capitalizeFirstLetter(string) {
            string = string.toLowerCase();
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    }
    customElements.define('travel-piece-element', travelPieceElement);
    </script>
</dom-module>