<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/event-element.html">
<link rel="import" href="../components/travel-piece-element.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">

<dom-module id="travel-proposal-element">
    <template>
        <style>
            .proposals{
                max-width: 600px;
                margin:0 auto;
            }
        </style>

        <div class="proposals">
            <template is="dom-repeat" items="[[currentProposal]]">
                <dom-if if="[[!item.isTravelProposal]]">
                    <template>
                        <event-element title="[[item.title]]" date="[[item.date]]" location="[[item.location]]" from="[[item.from]]" to="[[item.to]]">
                    </template>
                </dom-if>
                <dom-if if="[[item.isTravelProposal]]">
                    <template>
                        <travel-piece-element by="[[item.by]]" from="[[item.from]]" at="[[item.at]]"> </travel-piece-element>
                    </template>
                </dom-if>
                </event-element>
            </template>
        </div>

    </template>
    <script>
    class TravelProposalElement extends Polymer.Element {
        static get is() { return 'travel-proposal-element'; }
        static get properties() {
            return {
                user: {
                    type: String
                },
                currentProposal: {
                    type: Object
                }
            }
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
    }
    customElements.define('travel-proposal-element', TravelProposalElement);
    </script>
</dom-module>