<dom-module id="travlendar-styles">
    <template>
        <style>
         :host {
            height: 100%;
        }

        section {
            width: 100%;
            height: 100%;
            @apply --layout-vertical;
        }

        section paper-dialog-scrollable {
            @apply --layout-flex;
        }

        .textPanel {
            width: 100%;
            background-color: var(--paper-blue-50);
        }

        .inputPanel {
            width: 100%;
            background-color: var(--paper-blue-500);
        }
        </style>
    </template>
</dom-module>