<link rel="import" href="view-element.html">
<link rel="import" href="travlendar-styles.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-input-place/paper-input-place.html" />

<dom-module id="edit-travelpref-view-element">
    <template>
        <style include="travlendar-styles">
        #prefForm {
            max-width: 500px;
        }

        .times {
            padding: 10px 0 10px 0;
            @apply --layout-flex;
            @apply --layout-horizontal;
            -webkit-justify-content: space-between;
            /* Safari */
            justify-content: space-between;
            max-width: 400px;
            margin: 0 auto;
        }

        .endSection {
            border-bottom: 1px solid var(--divider-color);
            padding-bottom: 10px;
        }

        .formInput {
            padding: 10px;
        }
        </style>

        <firebase-document id="document" app-name="travlendar" path="/preferences/[[user.uid]]/travel" data="{{travelPref}}">
        </firebase-document>

        <template-view>
            <span slot="outputPanel">
                <iron-form id="prefForm" class="outputCenter">
                    <form method="get" action="/ediPref">

                        <paper-input-place class="formInput" id="locationInput" required auto-validate pattern=".*[^ ].*"  value="{{val}}" hide-error place="{{place}}" api-key="[[mapsApiKey]]" label="Home Location">
                        </paper-input-place>

                        <div class="times">
                            <paper-toggle-button  noink checked="{{travelPref.own_car}}">Own Car</paper-toggle-button>
                            <paper-toggle-button  noink checked="{{!travelPref.car_disabled}}">Allow Using Car</paper-toggle-button>
                        </div>
                        <div class="times endSection">
                            <paper-toggle-button  noink checked="{{travelPref.allow_car_sharing}}">Allow Car Sharing</paper-toggle-button>
                        </div>
                        <div class="times">
                            <paper-toggle-button  noink checked="{{travelPref.own_bike}}">Own Bike</paper-toggle-button>
                            <paper-toggle-button  noink checked="{{!travelPref.bike_disabled}}">Allow Using Bike</paper-toggle-button>
                        </div>
                        <div class="times endSection">
                            <paper-toggle-button  noink checked="{{travelPref.allow_bike_sharing}}">Allow Bike Sharing</paper-toggle-button>
                        </div>
                        <div class="times">
                            <paper-toggle-button  noink checked="{{!travelPref.public_transport_disabled}}">Allow Public Transport</paper-toggle-button>
                            <paper-toggle-button  noink checked="{{!travelPref.disable_walking}}">Allow Walking</paper-toggle-button>
                        </div>
                        <div class="times">
                            <paper-toggle-button  noink checked="{{travelPref.reduce_carbon_footprint}}">Reduce Carbon Footprint</paper-toggle-button>
                        </div>
                    </form>
                </iron-form>
            </span>

            <span slot="textPanel">
                <span class="breadcrumbs">Home/Preferences/Travel</span> Here you can edit your Travel Preferences.
            </span>

            <span slot="inputPanel">
                <paper-icon-item class="menu-item" on-tap="savePref">
                    <iron-icon icon="myicons:done" slot="item-icon"></iron-icon>Save Preferences
                </paper-icon-item>
                <paper-icon-item class="menu-item" on-tap="goBack">
                    <iron-icon icon="myicons:arrow-back" slot="item-icon"></iron-icon>Cancel
                </paper-icon-item>
            </span>
        </template-view>
    </template>

    <script>
    class EditTravelPrefViewElement extends ViewElement {
        static get is() { return 'edit-travelpref-view-element'; }
        static get properties() {
            return {
                mapsApiKey: {
                    type: String,
                    value: "AIzaSyAoZU1vQtj2p_QUMsE1J5kWURi0G7U8Txw",
                    readOnly: true
                },
                val: {
                    type: Object,
                    notify: true,
                    observer: '_locationChanged'
                }
            }
        }
        constructor() {
            super();
        }
        ready() {
            super.ready();
        }
        static get observers() {
            return [
                '_locationChanged(val)'
            ]
        }

        _locationChanged(val) {
            this.travelPref.home = val.search;
        }
        savePref() {
            if (this.$.prefForm.validate()) {
                this.$.document.saveValue('/preferences/' + this.user.uid, 'travel');
                window.location.href = '#editPreferencesView';
            } else {
                alert("please insert valid data first");
            }
        }
        goBack() {
            this.$.document.reset();
            window.location.href = '#editPreferencesView';
        }
    }
    customElements.define(EditTravelPrefViewElement.is, EditTravelPrefViewElement);
    </script>
</dom-module>